<!-- App.svelte -->
<script>
    import { onDestroy } from "svelte";
    import template from "./specsheetTemplate";
    import handlebars from "handlebars";
    export let store;

    let preview;
    let hbTemplate = handlebars.compile(template, { strict: true });
    store?.subscribe((snapshot) => {
        if (snapshot?.id) {
            console.log(snapshot);
            snapshot.updated = new Date().toLocaleDateString();
            try {
                preview = hbTemplate(snapshot);
                // console.log(preview)
            } catch (error) {
                console.error(error);
            }
        }
    });

    handlebars.registerHelper("ifeq", function (a, b, options) {
        if (a == b) {
            return options.fn(this);
        }
        return options.inverse(this);
    });
</script>

<div>
    <div class="wrapper">
        {@html preview}
    </div>
</div>

<style>
    .wrapper {
        min-width: 8.125in;
    }
</style>
