<script>
    import { onMount } from "svelte";
    import { currentBoatId } from "../store/SelectedBoat";
    let boats = [];

    let newBoatName;

    const getBoatsList = async () => {
        const response = await fetch("http://localhost:8080/boats");
        boats = await response.json();
    };
    onMount(async () => {
        await getBoatsList();
        currentBoatId?.set(boats[0].id);
    });

    const changeBoatData = (boat) => {
        currentBoatId.set(boat?.id);
    };

    const newBoat = async () => {
        try {
            const response = await fetch("http://localhost:8080/boats", {
                method: "POST",
                body: JSON.stringify({ name: newBoatName }),
                headers: {
                    "Content-Type": "Application/Json",
                },
            });
            if (response.ok) {
                newBoatName = "";
                let boat = await response.json();

                currentBoatId?.set(boat.id);
                getBoatsList();
            }
        } catch (error) {
            console.error(error);
        }
    };

    const deleteCurrent = async () =>{
        try {
            const response = await fetch(`http://localhost:8080/boats/${$currentBoatId}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "Application/Json",
                },
            });
            if (response.ok) {
               
                await getBoatsList();
                currentBoatId?.set(boats[0].id);
            }
        } catch (error) {
            console.error(error);
        }
    }
</script>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/#">Fictional Tugboat Company Specsheets</a>
    <button class="btn btn-danger" on:click={deleteCurrent} type="submit"
    >Delete Current 🗑</button
>
    <ul class="nav nav-pills">
        {#each boats as boat}
            <li class="nav-item">
                <span
                    on:click={() => {
                        changeBoatData(boat);
                    }}
                    class={boat?.id === $currentBoatId
                        ? "nav-link active  btn navbar-text"
                        : "nav-link  btn btn-default navbar-text"}
                    aria-current="page">{boat.name}</span
                >
            </li>
        {/each}
    </ul>
    <div class="d-flex">
       
        <input
            class="form-control me-2"
            placeholder="New Boat Name"
            aria-label="New Boat Name"
            bind:value={newBoatName}
        />
        <button class="btn btn-outline-primary" on:click={newBoat} type="submit"
            >Add</button
        >
    </div>
</nav>

<style>
    .navbar-text {
        color: white;
    }
</style>
