<!DOCTYPE html>

<html>

<head>
    <title>specsheet template</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    </link>
    <style>
        @page {
            margin: 0px 15px -5px -5px
        }

        .page {
            page-break-after: always;
            position: relative;
            font-size: medium;
            width: 100%;
            min-height: 100%;
            height: 1090px;
        }

        .page-content {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0.1875in;
            top: 0.1875in;
        }

        .outer-border {
            height: 99.9%;
            min-height: 100%;
            width: 99.9%;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: hidden;
            border: solid 5px black;
            border-radius: 30px;
            padding: 5px;
        }

        .inner-border {
            border: solid 5px #5a4ae3;
            border-radius: 25px;
            height: 100%;
            box-sizing: border-box;
        }

        .border-logo {
            position: relative;
            bottom: 70px;
            left: 550px;
            width: 100px;
            width: auto;
            background: white;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
        }

        .border-logo-image {
            height: 60px;

        }

        .contact-information {
            text-align: center;
        }

        .contact-information * {
            margin-bottom: 1px;
        }

        .contact-list {
            border-bottom: 1px solid;
        }

        .contact-list li {
            display: inline;
            margin-left: 5px;
            font-weight: 400;
            color: gray;
            font-size: x-small;
        }

        .title * {
            margin-bottom: 1px;
        }

        .contact-list li:not(:last-child) {
            border-right: dotted grey 1px;
        }

        .description {
            float: left;
        }

        .property {
            float: right;
        }

        .information-block {
            margin-top: 5px;
            width: 100%;
        }

        .right-information .information-block:first-of-type {
            margin-top: 0;
        }

        .last-updated {
            position: relative;
            bottom: 90px;
            left: 25px;
        }
    </style>
</head>


<body>
    <div class="page">
        <div class="page-content">
            <div class="outer-border">
                <div class="inner-border">
                    <div class="row contact-information">
                        <div class="col-12">
                            <h4>Fictional Tugboat, Co.</h4>
                            <ul class="contact-list">
                                <li>
                                    742 Evergreen Terrace
                                </li>
                                <li>
                                    Springfield, USA
                                </li>
                                <li>
                                    Phone: (939)-555-0113
                                </li>
                                <li>
                                    Fax: (939)-555-0113
                                </li>
                                <li>
                                    Email : chalmers@fictionaltugboatcompany.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-3 text-center">
                            <h1>{{name}}</h1>
                            <h6>{{caption}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-4 pr-1  ">

                            <figure class="text-center title">
                                <img class=" img-fluid rounded" src="{{imageUrl}}" />
                                <figcaption class="history">{{history}}</figcaption>
                            </figure>

                            {{#each detailSections }}
                            {{#ifeq type "leftInformation"}}
                            <div class="information-block">

                                <b class="font-weight-bold">{{name}}</b>
                                <div>
                                    {{#each sectionDetails}}
                                    <div>
                                        <span class="ms-1">
                                            {{description}}:
                                        </span>
                                        <span>
                                            {{#each values}}
                                            <span class="property">
                                                {{value}}
                                            </span>
                                            <br />
                                            {{/each}}
                                        </span>

                                    </div>
                                    {{/each}}
                                </div>

                            </div>
                            {{/ifeq}}
                            {{/each}}

                        </div>

                        <div class="col pl-2 pr-4">
                            {{#each detailSections }}
                            {{#ifeq type "rightInformation"}}
                            <div class="information-block">

                                <b class="font-weight-bold">{{name}}</b>
                                <div>
                                    {{#each sectionDetails}}
                                    <div>
                                        <span class="ms-1">
                                            {{description}}:
                                        </span>
                                        <span>
                                            {{#each values}}
                                            <span class="property">
                                                {{value}}
                                            </span>
                                            <br />
                                            {{/each}}
                                        </span>

                                    </div>
                                    {{/each}}
                                </div>

                            </div>
                            {{/ifeq}}
                            {{/each}}
                        </div>

                    </div>



                </div>


            </div>
            <span class="border-logo">
                <img class="border-logo-image" src="http://localhost:8080/logo" />
            </span>
            <div class="last-updated">
                <small>Last Updated: {{lastUpdatedString}}</small>
            </div>
        </div>
    </div>
    </div>

</body>

</html>