<!-- App.svelte -->
<script>
  import PdfEditor from "../PdfEditor/PdfEditor.svelte";
  import PdfPreview from "../PdfPreview/PdfPreview.svelte";
  import Navbar from '../Navbar/Navbar.svelte';
  import {makeBoatStorage, fetchBoatData} from '../store/BoatData';
  import {currentBoatId} from '../store/SelectedBoat';
  let boatData = makeBoatStorage('');
  currentBoatId.subscribe((value)=>{
    fetchBoatData({}, {id:value})
  });
</script>

<div>
  <Navbar  />
  <div class="App">
    <div class="preview">
      <PdfPreview store={boatData} />
    </div>
    <div class="editor">
      <PdfEditor {boatData} />
    </div>
  </div>
</div>

<style>
  .App {
    display: flex;
    margin-top: 60px;
  }
  .editor {
    flex: 1;
  }
  .preview {
    position: sticky;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    top: 60px;
  }
</style>
