<script>
    import {
        Button,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader,
    } from "sveltestrap";
    import { onDestroy } from "svelte";
    import { fade, fly, slide } from "svelte/transition";
    import NormalInput from "../PdfEditor/NormalInput.svelte";
    let header = dbRef(`headerInfo`);
    let open = false;
    const toggle = () => (open = !open);
</script>

<div>
    <Button color="danger" on:click={toggle}>Edit Header</Button>
    <Modal isOpen={open} {toggle}>
        <ModalHeader {toggle}>Header Information</ModalHeader>
        <ModalBody>
            <div>
                {#if $header}
                    <div class="my-5" transition:slide>
                        <NormalInput
                            title="Address"
                            bind:value={$header.address}
                        />
                        <NormalInput
                            title="Phone Number"
                            bind:value={$header.phone}
                        />
                        <NormalInput
                            title="Fax Number"
                            bind:value={$header.fax}
                        />
                        <NormalInput title="Email" bind:value={$header.email} />
                        <NormalInput title="City" bind:value={$header.city} />
                    </div>
                {/if}
            </div>
        </ModalBody>
        <ModalFooter>
            <Button color="primary" on:click={toggle}>Close</Button>
        </ModalFooter>
    </Modal>
</div>
