<script>
    import { fade, fly } from "svelte/transition";
    export let deleteAction;
    export let value;
    export let index;
    export let title;
    export let titleClick = undefined;
</script>

<div class="input-group mb-2" in:fade out:fly={{ x: 100 }}>
    <div
        class={titleClick
            ? "button input-group-prepend"
            : "input-group-prepend"}
        on:click={titleClick}
    >
        <span class="input-group-text">{title}</span>
    </div>
    <input type="text" class="form-control" bind:value />
    <div class="input-group-append">
        <span
            class="btn btn-primary"
            on:click={() => {
                deleteAction(index);
            }}
        >
            🗑
        </span>
    </div>
</div>

<style>
    .button {
        cursor: pointer;
    }
</style>
