<script>
    import { onDestroy } from "svelte";
    import DeletableInput from "./DeletableInput.svelte";
    import Information from "./Information.svelte";
    import { fly } from "svelte/transition";

    export let section;
    export let index;
    export let deleteAction;

    let addInformation = () => {
        if(!section.sectionDetails){
            section.sectionDetails  =[];
        }
        section.sectionDetails = [
            ...section.sectionDetails,
            { values: [{ value: '' }] },
        ];
    };

    let deleteInformation = (index) =>{
       console.log(section)
        section.sectionDetails = section.sectionDetails.filter((item, i)=>i !== index);
    }
</script>

<div class="card" out:fly={{ x: 100 }}>
    {#if section}
        <div class="card-header">
            <DeletableInput
                title="Category Title:"
                deleteAction={deleteAction}
                {index}
                bind:value={section.name}
            />
        </div>
        <div class="card-body">
            {#if section.sectionDetails}
                {#each section.sectionDetails as detail, index}
                    <Information {detail} {deleteInformation} {index} />
                {/each}
            {/if}
            <div class="my-1 float-right">
                <button
                    type="button"
                    class="btn btn-info"
                    on:click={addInformation}>Add Information</button
                >
            </div>
        </div>
    {/if}
</div>

<style>
</style>
