<!-- App.svelte -->
<script>
    import { onDestroy } from "svelte";
    import InformationCategory from "./InformationCategory.svelte";
    import { fade, fly, slide } from "svelte/transition";

    export let title;
    export let show = true;
    export let type;
    export let sections;

    const invertShow = () => {
        show = !show;
    };
    const addCategory = () => {
        if(!sections){
            sections = [];
        }
        sections = [...sections, { name: "", type: type }];
    };
    const deleteCategory = (index) => {
        sections = sections.filter((section, i) => index !== i);
    };
</script>

<div in:fade out:fly={{ x: 100 }}>
    <h3 class="show-button" on:click={invertShow}>
        {title}
        {#if show}
            <span class="float-right ">➖</span>
        {:else}<span class="float-right ">➕</span>{/if}
    </h3>

    <hr />
    {#if show && sections}
        {#each sections as section, i}
            {#if section?.type === type}
                <div class="my-5" transition:slide>
                    <InformationCategory
                        bind:section
                        index={i}
                        deleteAction={deleteCategory}
                    />
                </div>
            {/if}
        {/each}
    {/if}
    {#if show}
        <div class="my-1 row">
            <div class="col-sm-12">
                <button
                    type="button"
                    class="btn btn-primary float-right "
                    on:click={addCategory}>Add Category</button
                >
            </div>
        </div>
    {/if}
</div>

<style>
    .show-button {
        cursor: pointer;
    }
</style>
