<!-- App.svelte -->
<script>
    import DeletableInput from "./DeletableInput.svelte";
    import NormalInput from "./NormalInput.svelte";
    import { fade, fly } from "svelte/transition";
    export let detail;
    export let deleteInformation;
    export let index;


    const deleteValue = (index) => {
        detail.values = detail.values.filter((item,i) =>i !== index);
    };

    let addValue = ()=>{
        detail.values = [...detail.values, {value:''}]
    }
</script>

<div class="form-group row" in:fade out:fly={{ x: 100 }}>
    {#if detail}
        <div class="col-md-5">
            <DeletableInput
                title="Description:"
                {index}
                deleteAction={deleteInformation}
                bind:value={detail.description}
            />
        </div>

        <div class="col-md-7">
                {#if detail?.values.length > 0}
                    {#each detail?.values as specificValue, specificValueIndex}
                        <DeletableInput
                            bind:value={specificValue.value}
                            title="Value:"
                            titleClick={addValue}
                            index={specificValueIndex}
                            deleteAction={deleteValue}
                        />
                    {/each}
                {:else}
                    <div class='btn btn-primary float-right' on:click={addValue} in:fly={{ x: -300 }} >
                        Add Value
                    </div>
                {/if}
        </div>

    
    {/if}
   
</div>

<style>
</style>
