<script>
    export let value;
    export let title;
    export let titleClick = undefined;
</script>

<style>
    .button {
        cursor: pointer;
    }
</style>

<div class="input-group mb-2">
    <div
        class={titleClick ? 'button input-group-prepend' : 'input-group-prepend'}
        on:click={titleClick}>
        <span class="input-group-text" id="basic-addon1">{title}</span>
    </div>
    <input type="text" class="form-control " bind:value />
</div>
