<!-- App.svelte -->
<script>
  import { onDestroy, onMount } from "svelte";
  import { fade } from "svelte/transition";
  import InformationColumn from "./InformationColumn.svelte";
  import NormalInput from "./NormalInput.svelte";
  import { update } from "../store/BoatData";
  import { currentBoatId } from "../store/SelectedBoat";

  export let boatData;
  let boatImage;
  const onFileSelected = (e) => {
    let image = e.target.files[0];
    let reader = new FileReader();
    reader.readAsDataURL(image);
    reader.onload = async (e) => {
      console.log("test");

      const formData = new FormData();
      formData.append("file", boatImage.files[0]);
      const response = await fetch("http://localhost:8080/images", {
        method: "POST",
        body: formData,
      });
      if (response.ok) {
        const imageId = await response.json();
        $boatData.imageUrl = `http://localhost:8080/images/${imageId.id}`;
        $boatData.imageId = imageId.id;
        updateBoat();
      }
    };
  };
  let updateBoat = () => {
    update({ id: $currentBoatId });
  };
</script>

<div class="container">
  <h2 class="text-center">SpecSheet Editor</h2>
  <hr />
  <div in:fade out:fade>
    {#if $boatData}
      <NormalInput bind:value={$boatData.name} title="Name:" />
      <NormalInput bind:value={$boatData.caption} title="Caption:" />

      <div class="input-group mb-3">
        <span class="input-group-text">History:</span>
        <textarea class="form-control" bind:value={$boatData.history} />
      </div>

      <label class=" btn btn-primary mx-auto mb-3" for="boat-image">
        Change Boat Image 🚢
        <input
          id="boat-image"
          type="file"
          on:change={(e) => onFileSelected(e)}
          bind:this={boatImage}
          accept="image/png"
          hidden
        />
      </label>

      <InformationColumn
        title={"Left Column"}
        type={"leftInformation"}
        show={false}
        bind:sections={$boatData.detailSections}
      />

      <InformationColumn
        title={"Right Column"}
        show={false}
        type={"rightInformation"}
        bind:sections={$boatData.detailSections}
      />
      <a href={`http://localhost:8080/boats/${$currentBoatId}/pdf`}>
        <div class="btn btn-primary">Download PDF</div>
      </a>
      <div class="btn btn-primary" on:click={updateBoat}>Update Boat</div>
    {/if}
  </div>
</div>

<style>
</style>
